#h2 {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

.parks-class {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

.locations-class {
  margin-left: auto;
}

#user-page-form {
  position: absolute;
  right: 13px;
  top: 15px;
}
